{% extends 'base.html' %}
{% block content %}

<div class="meal-details">
    <div class="mdetails-name">
        <h3>Meal Name:</h3>
        <p>{{ meal.name }}</p>
    </div>
    <div class="mdetails-recipe">
        <h3>Recipes:</h3>
        {% for recipe in meal.recipes.all %}
            <a href="{% url 'recipes_details' recipe.id %}">{{ recipe.name }}</a>
        {% endfor %}
    </div>
    <div class="mdetaiils-date">
        <h3>Meal Date:</h3>
        <p>{{ meal.date }}
    </div>
    <div class="mdetails-type">
        <h3>Meal Type:</h3>
        <p>{{ meal.get_meal_display }}</p>
    </div>
    <div class="mdetails-user">
        <h3>User</h3>
        <p>{{ meal.user }}</p>
    </div>
</div>

<div class="meal-edit-del">
    <a href="{% url 'meals_update' meal.id %}" class="edit">Edit</a>
    <a href="{% url 'meals_delete' meal.id %}" class="delete">Delete</a>
</div>
    <h3>Meal Name:</h3>
    <p>{{ meal.name }}</p>

    <h3>Recipes:</h3>
    {% for recipe in meal.recipes.all %}
        <a href="{% url 'recipes_details' recipe.id %}">{{ recipe.name }}</a>
    {% endfor %}

    <h3>Meal Date:</h3>
    <p>{{ meal.date }}

    <h3>Meal Type:</h3>
    <p>{{ meal.get_meal_display }}</p>

    
{% endblock %}
