{% extends 'base.html' %}
{% block content %}

    <h1>Meals</h1>
    <div class="meal-container">
        {% for meal in meals.all %}
            <a href="{% url 'meals_details' meal.id %}">
                <div class="meal-card">
                    <h3>{{ meal.name }}</h3>
                    <p>Date: {{ meal.date }}</p>
                    <p>Recipe Name:  
                        {% for recipe in meal.recipes.all %}
                        {{ recipe.name }}
                    {% endfor %}</p>
                    <p>Meal: {{ meal.meal }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}