{% extends 'base.html' %}
{% block content %}

    <h1>Meals</h1>

   

    {% for meal in meals %}
        <a href="{% url 'meal_detail' meal.id %}">
            <div>
                <h3>{{ meal.name }}</h3>
                <p>{{ meal.date }}</p>
                <p>{{ recipe.name }}</p>
                <p>{{ meal.meal }}</p>
                <p>{{ meal.user }}</p>

                <a href="{% url 'meals_update' meal.id %}">Edit</a>
                <a href="{% url 'meals_delete' meal.id %}">Delete</a>
            </div>
        </a>
    {% endfor %}
