{% extends 'base.html' %}
{% block content %}

    <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
    <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>

    <h1>{{ recipe.name }}</h1>

    {% comment %} {% if recipe.tags.count %}
        {% for tag in recipe.tags.all %}
            <span class="tag {{ tag.color }}">{{ tag.name }}</span>
        {% endfor %}
    {% endif %}
    <button>Add Tags</button>
    {% if recipe.tags_available.count %}
        {% for tag in recipe.tags_available.all %}
            <form action="{% url 'assoc_tag' recipe.id tag.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn hidden"><span class="tag {{ tag.color }}">{{ tag.name }}</span></button>
            </form>
        {% endfor %}
    {% endif %}
    <form action="{% url 'add_tag' recipe.id %}" method="POST">
        {% csrf_token %}
        {{ tag_form.as_p }}
        <button type="submit" class="btn hidden">New Tag</button>
    </form>
    <button class="hidden">Done</button> {% endcomment %}

    <h3>Description:</h3>
    <p>{{ recipe.description }}</p>
    <h3>Prep Time:</h3>
    <p>{{ recipe.prep_time }} mins</p>
    <h3>Cook Time:</h3>
    <p>{{ recipe.cook_time }} mins</p>
    <h3>Total Time:</h3>
    <p>{{ recipe.get_total_time }} mins</p>
    <h3>Servings:</h3>
    <p>{{ recipe.servings }} {{ recipe.serving_size }}</p>
    <h3>Ingredients:</h3>
    {% if recipe.ingredients.count %}
        {% for ingredient in recipe.ingredients %}
            <p>{{ingredient.serving}} {{ingredient.serving_size}} - {{ ingredient.name }}</p>
        {% endfor %}
    {% else %}
        <p>No ingredients added</p>
    {% endif %}
    <h3>Instructions:</h3>
    <p>{{ recipe.instructions }}</p>
    
{% endblock %}