{% extends 'base.html' %}
{% block content %}

    <h1>Recipes</h1>
    <div class="recipe-container">
        {% for recipe in recipes %}
            <a href="{% url 'recipes_details' recipe.id %}">
                <div class="recipe-card">
                    <h2>{{ recipe.name }}</h2>
                    <p>Servings: {{ recipe.servings }}</p>
                    <p>Serving Size: {{ recipe.serving_size }}</p>
                    <p>Total Time: {{ recipe.get_total_time }} mins</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}