{% extends 'base.html' %}
{% block content %}

    <h1>Recipes</h1>

    {% for recipe in recipes %}
        <a href="{% url 'recipes_details' recipe.id %}">
            <div>
                <h3>{{ recipe.name }}</h3>
                <p>Servings: {{ recipe.servings }} {{ recipe.serving_size }}</p>
                <p>Total time: {{ recipe.get_total_time }} mins</p>
                {% if recipe.tags.count %}
                    {% for tag in recipe.tags.all %}
                    <span class="tag {{ tag.color }}">{{ tag.name }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    {% endfor %}
    
{% endblock %}