{% extends 'base.html' %}
{% block content %}

<div class="about-section">
    <h1>About Us</h1>
        <p style="text-align: center;">Here at Meal ComPLANion, we believe that cooking is an art that anyone can master. We're here to simplify the cooking process, spark your imagination, and make every meal a memorable adventure. Our mission is to empower home cooks of all skill levels to explore the world of cooking, experiment with diverse ingredients, and create exceptional dishes that tantalize the taste buds.</p>
</div>

<h2 class='team'style="text-align: center;">Our Team</h2>

<div class="row">
    <div class="column">
        <div class="img-card">
            <img src="https://images2.imgbox.com/a3/10/J8Cr8uPm_o.jpg" alt="Taylor" style="width:100%">
            <div class="container">
                <h2>Taylor Dixon</h2>
                <p class="job-title">Developer and GitHub Manager</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="img-card">
            <img src="https://images2.imgbox.com/e4/34/8FsL708j_o.png" alt="Rodney" style="width:100%">
             <div class="container">
                <h2>Rodney Givens</h2>
                <p class="job-title">Devloper and Scrum Master</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="img-card">
            <img src="https://images2.imgbox.com/71/58/8fdbFa5N_o.png" alt="Khi" style="width:100%">
            <div class="container">
                <h2>Khi Jackson</h2>
                <p class="job-title">Developer and Designer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}