*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #E0D7F7;
  --color-secondary: #8E8EE6;
  --color-tertiary: #CECEE0;
  --color-quaternary: #3C3C61;
  --color-quinary: #A0A0AD;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 1.25rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  overflow: scroll;
  background-color: #C1E0B8;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.5s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}



/* NAVBAR */

.navbar {
  text-align: left;
  padding: 15px;
  background-color: #C1E0B8;
  color: black;
  font-size: 20px;
}

.nav-links {
  color: lavender;
  display: flex;
}

a {
  color:black;
  text-decoration: none;
}

.navbar-new {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

li {
  padding: 10px;
}

/* FORMS */
.btn {
  border-radius: 15px;
  color: lavender;
  background-color: black;
  border: none;
  width: 200px;
  height: 65px;
  text-align: center;
}

.btn:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

form {
  display: grid;
  place-items: center;
}

.form-tables {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="text"], input[type="number"], textarea {
  padding: 10px 20px;
  width: 100%;
  margin: 10px;
}

html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  margin: 5px;
  background-color: white;
}

.recipe-container {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 950px;
  height: 450px;
  display: block;
  margin: auto auto;
  padding-bottom: 0;
}

.edit-del {
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.edit {
  margin-right: 8px;
  text-decoration: underline;
}

.delete {
  margin-left: 8px;
  text-decoration: underline;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.img-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:8px;
}

.about-sections {
  padding: 50px;
  text-align: center;
  margin: 50px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #8E8EE6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  flex-shrink: 0;
}

header {
  flex-shrink: 0;
}